[Unit]
Description=Fancontrol

[Service]
ExecStart=/home/admin/terramaster-fancontrol/fancontrol --drive_list="sda,sdb,sdc,sdd" --debug=1 --kp=2.0
Restart=on-failure

[Install]
WantedBy=multi-user.target
