[Unit]
Description=Fancontrol

[Service]
ExecStart=/home/admin/terramaster-fancontrol/fancontrol --drive_list="sda,sdb,sdc,sdd" --setpoint=37 --debug=1 --kp=0.3 --graphite_server=x.x.x.x:2003
Restart=on-failure

[Install]
WantedBy=multi-user.target
