[Unit]
Description=Fancontrol

[Service]
ExecStart=/usr/local/bin/fancontrol "sda,sdb,sdc,sdd" 0 37
Restart=on-failure

[Install]
WantedBy=multi-user.target
